input
output
annexe
results
3hpa_fish2
3hpa_fish3
3hpa_fish4
6hpa_fish4
6hpa_fish5
6hpa_fish6
24hpa_fish7
24hpa_fish8
24hpa_fish9
48hpa_fish10
48hpa_fish11
48hpa_fish12
48hpa_fish13
48hpa_fish14
48hpa_fish15
72hpa_fish16
72hpa_fish17
72hpa_fish18
72hpa_fish19
72hpa_fish20
72hpa_fish21
cont_fish1
cont_fish2
cont_fish3
cont_fish4
cont_fish5
mactrack/run.py
mactrack/main.py
results_summary.xlsx